<section class="content section container">
    <h1>Behavioral Tasks Initialization Sounds</h1>
    <main class="container">
        <PlayButton @taskName="Provocation" @frequency={{400}} @type="sine" />
        <PlayButton @taskName="Beads" @frequency={{500}} @type="sine" />
        <PlayButton @taskName="Resting State" @frequency={{300}} @type="sine" />
        <PlayButton @taskName="MSIT" @frequency={{200}} @type="sine" />
        <PlayButton @taskName="Programming" @frequency={{600}} @type="sine" />
        <PlayButton @taskName="TSST" @frequency={{700}} @type="sine" />
        <PlayButton @taskName="Interview" @frequency={{800}} @type="sine" />
         <Playground />
    </main>
</section>
{{outlet}}